<!--https://codepen.io/freeCodeCamp/details/VPaoNP-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/269be7f06a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ks.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.min.css">
    <title>GenGee Login</title>
</head>
<body>


  <div style="overflow: hidden;
  background-color: rgba(16, 56, 81, 0.4); box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" class="topnav">
    <img width="150px" style="padding: 14px 16px;" src="../static/logo_ks.png">
    <img width="250px" src="../static/hva.png">
  </div>
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert-{{category}}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>{{message}}</strong>
  </div>
  {% endfor %}
    <div style="margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);" class="container">
        <header class="header">
          <h1 id="title" class="text-center">Login</h1>
          <p id="description" class="description text-center">
            Login in order to fetch match-train data
          </p>
        </header>

        
        <form id="survey-form" method="post">
          <div class="form-group">
            <label id="username-label" for="username"><i class="fas fa-user"></i>&nbsp;Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Enter your username" required />
          </div>


          <div class="form-group">
            <label id="password-label" for="password"><i class="fas fa-key"></i>&nbsp;Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password" required />
            <span id="showHide" style="float: right;" onclick="showFun()">SHOW</span>
          </div>

      
          <div class="form-group">
            <section class="progress-demo">
            <button type="submit" id="submit" class="submit-button ladda-button" data-color="purple" data-style="expand-right">
              Log in&nbsp;<i class="fas fa-sign-in-alt"></i>
              </section>
            </button>

          </div>
        </form>
      </div>
      <script>
        function showFun() {
          var x = document.getElementById("password");
          if (x.type === "password") {
            document.getElementById("showHide").innerHTML = "HIDE";
            x.type = "text";
          } else {
            document.getElementById("showHide").innerHTML = "SHOW";
            x.type = "password";
          }
        }
      </script>
</html>