<!--https://codepen.io/freeCodeCamp/details/VPaoNP-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/269be7f06a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ks.ico') }}">
    <title>Terminate Timer</title>
</head>
<body>
  <nav>
    <ul>
        <li>
            <a href="http://127.0.0.1/home">Home</a>
          </li>
          <li>
            <a href="http://127.0.0.1/timer">Timer</a>
          </li>
            <li>
              <a href="#">Terminate</a>
            </li>
            <li>
              <a href="http://127.0.0.1/contact">Contact</a>
            </li>
            <li>
              <a href="http://127.0.0.1/downloads">Downloads</a>
            </li>
            <li>
              <a style="color: white;" href="http://127.0.0.1/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
            </li>
    </ul>
  </nav>
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert-{{category}}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>{{message}}</strong>
  </div>
  {% endfor %}
    <div class="container">
        <header class="header">
          <h1 id="title" class="text-center">Terminate Data Timer</h1>
          <p id="description" class="description text-center">
            Terminate any active data timer
          </p>
        </header>

        
        <form id="survey-form" method="post">
          <p style="color: rgb(150, 10, 17);">Terminate the Timer</p>
          <button type="submit" class= "ter button-red" name="terminate-button" value="stop"><i class="fa fa-times"></i> Terminate</button>
        </form>
      </div>
</html>